.table-plugin {
    margin-top: 3rem;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.is-there-a-problem-container p:first-child {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.form-tri > p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.bloc-form {
    display: flex;
    flex-direction: column;
}

.itap_button {
    background-color: #253371;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 2rem;
    transition: 0.5s ease;
    margin-left: 2rem;
}

.form-tri label {
    font-weight: 500;
}

.itap_button:hover {
    background-color: #4d62c2;
}

.form-tri input {
    padding: 0.5rem;
    width: 250px;
    border: 1px solid #253371;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
}

.thead-plugin th {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1.1rem;
}

.thead-plugin {
    background-color: #253371;
}

.tbody-plugin tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbody-plugin td {
    position: relative;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.05rem;
    border-bottom: 1px dotted black;
}

.tbody-plugin td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.congrats-plugin {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.tbody-plugin {
    text-align: left;
}

/* tooltip */

.tooltip {
    position: relative;
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    z-index: 2;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -90px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.thead-plugin-little {
    width: 8%;
}

.thead-plugin-middle {
    width: 16%;
}

.thead-plugin-big {
    width: auto;
}

.itap_checkbox {
    transform: scale(1.5);
}

.problems_number {
    font-size: 1.5rem;
}

/* anim button */

.quantum_form_submit label {
    display: block;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.quantum_form_submit input {
    width: 80%;
    padding: 0.5rem;
}

.quantum_form_submit button {
    width: 150px;
    height: 3rem;
    border: none;
    outline: none;
    background: #253371;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box {
    width: 80px;
    height: 3rem;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
    position: absolute;
    padding-bottom: 2rem;
    top: -20px;
    right: -40px;
    opacity: 0;
}

.check-box svg {
    width: 40px;
    margin: 20px;
}

svg path {
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active {
    background: #4d62c2;
    transition: 1s;
}

.active .check-box {
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p {
    margin-right: 70px;
    transition: 1s;
}

.active svg path {
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

#reset_api_key,
#itap_submit {
    background-color: #253371;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 0.5rem;
    transition: 0.3s ease;
    margin: 1rem 0;
}

#reset_api_key:hover,
#itap_submit:hover {
    background-color: #4d62c2;
}

/* ITAP SETTINGS */

.itap-settings label {
    font-size: 1.1rem;
}

.itap-settings div {
    margin: 1rem 0;
}

.itap-settings input[type="text"] {
    padding: 0.5rem;
    width: 250px;
    border: 1px solid #253371;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
}


/*automation*/

.select_primary_cat_table {
    width: 100%;
    border-collapse: collapse;
}

.select_primary_cat_table > thead > tr > th {
    padding: .5rem;
    background-color: #253371;
    color: #fff;
    font-size: 1rem;
}

.select_primary_cat_table tr td {
    padding: .5rem;
    border: 1px solid #253371;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
    background: #fff;
}


.select_primary_cat_table td {
    text-align: center;
}

.select_primary_textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #253371;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
    background: #fff;
    overflow-y: scroll;
}

.transition, .wrap-help ul li i:before, .wrap-help ul li i:after, p {
    transition: all 0.25s ease-in-out;
}

.flipIn, .wrap-help ul li, .wrap-help h1 {
    animation: flipdown 0.5s ease both;
}

.no-select, h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.wrap-help {
    min-height: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 90px 0;
    transform: translate(-50%, 0);
    padding: 30px;
}


.wrap-help h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
}

.wrap-help h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
}

.wrap-help .accordeon {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.wrap-help ul {
    list-style: none;
    perspective: 800px;
    padding: 0;
    margin: 0;
}

.wrap-help ul li {
    position: relative;
    margin: 0;
    padding: 18px 0 4px;
    border-top: 1px dotted #dce7eb;
}

.wrap-help ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.wrap-help ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.wrap-help ul li:nth-of-type(3) {
    animation-delay: 1s;
}

.wrap-help ul li:last-of-type {
    padding-bottom: 0;
}

.wrap-help ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.wrap-help ul li i:before, .wrap-help ul li i:after {
    content: "";
    position: absolute;
    background-color: #ff6873;
    width: 3px;
    height: 9px;
}

.wrap-help ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.wrap-help ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.wrap-help ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.wrap-help ul li input[type=checkbox]:checked ~ .accordeon {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.wrap-help ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.wrap-help ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

.itap-error {
    font-size: 20px;
    font-weight: 800;

}

@keyframes colorChange {
    0% {
        background-color: black;
    }
    50% {
        background-color: #ff0e0e;
    }
    100% {
        background-color: black;
    }
}

.bm_animation {
    animation: colorChange 2s infinite;
}