.table-plugin {
    margin-top: 3rem;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.is-there-a-problem-container p:first-child {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.form-tri > p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.bloc-form {
    display: flex;
    flex-direction: column;
}

.itap_button {
    background-color: #515c8d;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 2rem;
    transition: 0.5s ease;
    margin-left: 2rem;
}
.form-tri label {
    font-weight: 500;
}
.itap_button:hover {
    background-color: #4d62c2;
}

.form-tri input {
    padding: 0.5rem;
    width: 250px;
    border: 1px solid #253371;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
}

.thead-plugin th {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1.1rem;
}

.thead-plugin {
    background-color: #253371;
}

.tbody-plugin tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.tbody-plugin td {
    position: relative;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.05rem;
    border-bottom: 1px dotted black;
}
.tbody-plugin td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.congrats-plugin {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.tbody-plugin {
    text-align: left;
}

/* tooltip */

.tooltip {
    position: relative;
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    z-index: 2;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -90px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.thead-plugin-little {
    width: 8%;
}

.thead-plugin-middle {
    width: 16%;
}

.thead-plugin-big {
    width: auto;
}

.itap_checkbox {
    transform: scale(1.5);
}

.problems_number {
    font-size: 1.5rem;
}
